﻿@using Lemonade.DAL
@using Lemonade.Entities
@using Lemonade.Helpers
@using System.Security
@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lemonade - @ViewBag.Title</title>
    <link href="../../components/dummy-assets/common/img/favicon.png" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">

    <!-- VENDORS -->
    <!-- v2.0.0 -->
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap-sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/summernote/dist/summernote.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/ionrangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/datatables/media/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/c3/c3.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/chartist/dist/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/nprogress/nprogress.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/jquery-steps/demo/css/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/dropify/dist/css/dropify.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/font-linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/font-icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/cleanhtmlaudioplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/cleanhtmlvideoplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/cleanhtmlvideoplayer/src/player.css">
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../../vendors/popper.js/dist/umd/popper.js"></script>
    <script src="../../vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="../../vendors/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../../vendors/spin.js/spin.js"></script>
    <script src="../../vendors/ladda/dist/ladda.min.js"></script>
    <script src="../../vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="../../vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="../../vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="../../vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <script src="../../vendors/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="../../vendors/autosize/dist/autosize.min.js"></script>
    <script src="../../vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script>
    <script src="../../vendors/moment/min/moment.min.js"></script>
    <script src="../../vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="../../vendors/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="../../vendors/summernote/dist/summernote.min.js"></script>
    <script src="../../vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../../vendors/ionrangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="../../vendors/nestable/jquery.nestable.js"></script>
    <script src="../../vendors/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../../vendors/datatables/media/js/dataTables.bootstrap4.js"></script>
    <script src="../../vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
    <script src="../../vendors/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="../../vendors/editable-table/mindmup-editabletable.js"></script>
    <script src="../../vendors/d3/d3.min.js"></script>
    <script src="../../vendors/c3/c3.min.js"></script>
    <script src="../../vendors/chartist/dist/chartist.min.js"></script>
    <script src="../../vendors/peity/jquery.peity.min.js"></script>
    <script src="../../vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../../vendors/jquery-countTo/jquery.countTo.js"></script>
    <script src="../../vendors/nprogress/nprogress.js"></script>
    <script src="../../vendors/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="../../vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="../../vendors/dropify/dist/js/dropify.min.js"></script>
    <script src="../../vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js"></script>
    <script src="../../vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js"></script>
    <script src="../../vendors/d3-dsv/dist/d3-dsv.js"></script>
    <script src="../../vendors/d3-time-format/dist/d3-time-format.js"></script>
    <script src="../../vendors/techan/dist/techan.min.js"></script>
    <script src="../../vendors/bootstrap-session-timeout-master/dist/bootstrap-session-timeout.min.js"></script>

    <!-- CLEAN UI HTML ADMIN TEMPLATE MODULES-->
    <!-- v2.0.0 -->
    <link rel="stylesheet" type="text/css" href="../../components/core/common/core.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/core/widgets/widgets.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/vendors/common/vendors.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/settings/common/settings.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/settings/themes/themes.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/menu-left/common/menu-left.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/menu-right/common/menu-right.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/top-bar/common/top-bar.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/footer/common/footer.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/pages/common/pages.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/ecommerce/common/ecommerce.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/apps/common/apps.cleanui.css">
    <script src="../../components/menu-left/common/menu-left.cleanui.js"></script>
    <script src="../../components/menu-right/common/menu-right.cleanui.js"></script>

    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>

    <style>
        .modal-full {
            min-width: 100%;
            margin: 0;
            padding-top: 2em;
        }
    </style>
    @{
        Lemonade.AppUser user = new Lemonade.AppUser(this.User as ClaimsPrincipal);
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        IEnumerable<System.Security.Claims.Claim> list = claimsIdentity.FindAll(System.Security.Claims.ClaimTypes.Role);
        AuthDAL dal = new AuthDAL();
        var controller = @ViewContext.RouteData.Values["controller"].ToString();
        controller = string.IsNullOrEmpty(controller) ? "" : controller;
        var actionView = @ViewContext.RouteData.Values["action"].ToString();
        actionView = string.IsNullOrEmpty(actionView) ? "" : actionView;
        var _uriLink = (controller.Length > 0 && actionView.Length > 0) ? controller + "/" + actionView : "";
    }

</head>
<body class="config--vertical config--borderLess menu-left--colorful menu-left--shadow">

    <nav class="menu-left">
        <div class="menu-left__lock menu-left__action--menu-toggle">
            <div class="menu-left__pin-button">
                <div><!-- --></div>
            </div>
        </div>
        <div class="menu-left__logo">
            <a href="/">
                <img src="../../components/dummy-assets/common/img/logo-inverse.png" alt="" />
            </a>
        </div>
        <div class="menu-left__inner">
            <ul class="menu-left__list menu-left__list--root">

                @{
                    SettingMenuDAL menuDal = new SettingMenuDAL();
                    var MenuLists = new List<APP_MENU>();
                    //MenuLists = menuDal.Menu(/*Convert.ToInt32(claimsIdentity.FindFirst("USER_ROLE").Value)*/);
                    MenuLists = menuDal.RoleMenu(claimsIdentity.FindFirst("ROLE_ID").Value);
                }

                @BuildMenu(MenuLists)

                @helper  BuildMenu(List<APP_MENU> MenuLists, int? parentid = 0)
                {
                    string queryMenuId = "";
                    DecEncrypt sp = new DecEncrypt();
                    if (!string.IsNullOrEmpty(Request.QueryString["mid"]))
                    {
                        queryMenuId = @Request.QueryString["mid"].Replace(' ', '+');

                    }
                    IOrderedEnumerable<APP_MENU> items = null;
                    var protectMenuId = string.Empty;
                    try
                    {
                        items = MenuLists.Where(m => int.Parse(string.IsNullOrEmpty(m.MENU_PARENT_ID) ? "0" : m.MENU_PARENT_ID) == parentid).OrderBy(n => int.Parse(string.IsNullOrEmpty(n.MENU_ORDER_BY) ? "0" : n.MENU_ORDER_BY));
                    }
                    catch (Exception)
                    {
                        items = null;
                    }
                    if (items.Any())
                    {
                        foreach (var item in items)
                        {
                            var countChild = MenuLists.Where(m => m.MENU_PARENT_ID == item.MENU_ID);
                            protectMenuId = sp.Encrypt(item.MENU_ID.ToString().Trim());

                            <li class="@if (countChild.Count() == 0) { @Html.Raw("menu-left__item") } else { @Html.Raw("menu-left__item menu-left__submenu") } ">
                                <a href="@if (countChild.Count() == 0) { @Html.Raw(@item.MENU_CONTROLLER + "?mid=" + protectMenuId) } else { @Html.Raw("javascript: void(0);") } ">
                                @*<a href="@if (countChild.Count() == 0) { @Html.Raw("/" + @item.MENU_CONTROLLER + "/" + @item.MENU_ACTION) } else { @Html.Raw("javascript: void(0);") } ">*@
                                    <span class="menu-left__icon @item.MENU_ICON"></span>
                                    @item.MENU_NAME
                                </a>
                                @if (countChild.Count() != 0)
                                {
                                    <ul class="menu-left__list">
                                        <li class="menu-left__item">
                                            @BuildMenu(MenuLists, int.Parse(item.MENU_ID))
                                        </li>
                                    </ul>
                                }
                            </li>
                        }
                    }
                }


                <li class="menu-left__divider"><!-- --></li>

            </ul>
        </div>
    </nav>
    <div class="top-bar">
        <!-- left aligned items -->
        <div class="top-bar__left">
            <div class="top-bar__logo">
                <a href="/">
                    <img src="../../components/dummy-assets/common/img/logo.png" alt="" />
                </a>
            </div>


        </div>
        <!-- right aligned items -->
        <div class="top-bar__right">
            <div class="top-bar__item d-none d-xl-inline-block">
                <div class="top-bar__search">
                    <i class="icmn-search"><!-- --></i>
                    <input id="generalSearch" type="text" placeholder="Type to search..." autocomplete="off" />
                </div>
            </div>
            <div class="top-bar__item">
                <div class="dropdown top-bar__avatar-dropdown">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                        <span class="top-bar__avatar">
                            @*<img src="../../components/dummy-assets/common/img/avatars/1.jpg" alt="" />*@
                            <img src="~/components/dummy-assets/common/img/avatars/user.png" alt="" />
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <label id="UserName" class="dropdown-item">
                            <i class="dropdown-icon icmn-user"></i>
                            @{
                                if (@User.Identity.Name == null)
                                {
                                    Response.Redirect("~/Auth/Logout");
                                }
                                else
                                {
                                    @User.Identity.Name
                                }
                            }
                        </label>
                        <input id="UserId" value="@claimsIdentity.FindFirst("USERID").Value" hidden />
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Profil</div>
                        @*<span class="dropdown-item">User ID: @claimsIdentity.FindFirst("USERID").Value</span>*@
                        @*<span class="dropdown-item"><i class="dropdown-icon fa fa-gears"></i> @claimsIdentity.FindFirst("ROLE_NAME").Value </span>*@
                        <a class="dropdown-item"><i class="dropdown-icon fa fa-gear"></i> @claimsIdentity.FindFirst("ROLE_NAME").Value</a>
                        <a id="btnSwitch" class="dropdown-item"><i class="dropdown-icon fa fa-exchange"></i> Switch Role</a>
                        <a id="btnPassword" class="dropdown-item"><i class="dropdown-icon icmn-key"></i> Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout","Auth")"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="utils__content">
        @RenderBody()
        @*<a href="javascript: void(0);" class="utils__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500)">
            <i class="icmn-arrow-up"></i>
        </a>*@
    </div>

    <div class="modal fade" id="modalRole" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <strong>Pilih Role</strong>
                            </span>
                        </div>
                        <div class="card-body">
                            <select id="RoleList" class="form-control full-width"></select>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirm" type="button" class="btn btn-success btn-sm"><i class="fa fa-exchange" aria-hidden="true"></i> Confirm</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalResetPassword" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <strong>Change Password</strong>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="displayUserId">User ID</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="displayUserId" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="inputPasswordBaru">Password Baru</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" id="inputPasswordBaru" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button id="btn-reset" type="button" class="btn btn-success btn-sm" data-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i> Change Password</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- begin : modal -->
    <div class="modal fade modal-size-large" id="modalSearch" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full shadow-lg p-3 mb-5 bg-white rounded" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modalTitle" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Ketik disini untuk mencari ..." id="txtgeneralFind" autocomplete="off">
                    <hr />
                    <table class="table table-hover" id="tableSearch" width="100%">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Nomor / Jenis Perjanjian</th>
                                <th>Judul</th>
                                <th>Berlaku</th>
                                <th></th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end : modal -->
    <!-- begin : modal lihat data -->
    <div class="modal fade modal-size-large" id="modalLihatData" role="dialog" aria-hidden="true" @*style="background-color:ActiveCaption"*@>
        <div class="modal-dialog shadow-lg p-3 mb-5 bg-white rounded" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="viewNomorDokumen" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label class="col-md-3" for="viewinputJnsPerjanjian"><strong>Jenis Perjanjian</strong></label>
                                <div class="col-md-9">
                                    <p id="viewJnsPerjanjian"></p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3" for="viewTglPerjanjian"><strong>Tanggal Perjanjian</strong></label>
                                <div class="col-md-9">
                                    <p id="viewTglPerjanjian"></p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3" for="viewDeskripsi"><strong>Deskripsi</strong></label>
                                <div class="col-md-9">
                                    <p id="viewDeskripsi"></p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3" for="viewTglBerlaku"><strong>Tanggal Berlaku</strong></label>
                                <div class="col-md-9">
                                    <p id="viewTglBerlaku"></p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3" for="viewTglBerakhir"><strong>Tanggal Berakhir</strong></label>
                                <div class="col-md-9">
                                    <p id="viewTglBerakhir"></p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="viewcreated_by"><strong>Created By</strong></label>
                                <div class="col-md-9">
                                    <p><span id="viewcreated_by"></span><br /><span id="viewcreated_date" class="text-muted"></span></p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="viewupdated_by"><strong>Updated By</strong></label>
                                <div class="col-md-9">
                                    <p><span id="viewupdated_by"></span><br /><span id="viewupdated_date" class="text-muted"></span></p>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="viewinputNoRec" autocomplete="off" readonly hidden>
                            <div class="mb-5">
                                <div class="nav-tabs-horizontal">
                                    <ul class="nav nav-tabs mb-4" role="tablist">
                                        <li class="nav-item">
                                            <a id="maintab1" class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#mainPihakTerkait" role="tab">Pihak Terkait</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="maintab2" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#mainLampiran" role="tab">Lampiran</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="maintab3" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#mainPIC" role="tab">PIC</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="maintab4" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#mainUker" role="tab">Dinas Terkait</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="maintab5" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#mainStatusDok" role="tab">Status Dokumen</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="mainPihakTerkait">
                                            <table class="table table-hover table-sm" id="viewtablePelanggan" width="100%">
                                                <thead hidden>
                                                    <tr>
                                                        <th>Pelanggan</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="mainLampiran">
                                            <table class="table table-hover table-sm" id="viewtableAttachment" width="100%">
                                                <thead hidden>
                                                    <tr>
                                                        <th>Filename</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="mainPIC">
                                            <table class="table table-hover table-sm" id="viewtablePIC" width="100%">
                                                <thead hidden>
                                                    <tr>
                                                        <th>PIC</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="mainUker">
                                            <table class="table table-hover table-sm" id="viewtableUker" width="100%">
                                                <thead hidden>
                                                    <tr>
                                                        <th>Uker</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="mainStatusDok">
                                            <table class="table table-hover table-sm" id="viewtableAlur" width="100%">
                                                <thead hidden>
                                                    <tr>
                                                        <th></th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end : modal lihat data -->


    <script>
        (function ($) {
            "use strict";
            $(function () {

                //setTimeout(function () {
                //    swal({
                //        title: "Sesi anda sudah berakhir.",
                //        type: "info",
                //        confirmButtonClass: "btn-info",
                //        confirmButtonText: "Login",
                //        closeOnConfirm: true,
                //        closeOnCancel: false
                //    }, function () {
                //        location.reload();
                //    });
                //}, 60000*30); // 60000 (1 minutes)

                //$.sessionTimeout({
                //    title: 'Session Timeout Notification',
                //    message: 'Sesi anda akan segera berakhir.',
                //    keepAliveUrl: '/',//'https://keenthemes.com/metronic/themes/themes/metronic/dist/preview/inc/api/session-timeout/keepalive.php',
                //    redirUrl: '/Auth/Logout',
                //    logoutUrl: '/Auth/Logout',
                //    warnAfter: 1740000, // 900000 (15 minutes)
                //    redirAfter: 1800000, // 900000 (15 minutes)
                //    ignoreUserActivity: true,
                //    countdownMessage: 'Redirecting in {timer} seconds.',
                //    countdownBar: true
                //});

                $('#generalSearch').keypress(function () {
                    if (event.keyCode === 13) {
                        $('#txtgeneralFind').val($('#generalSearch').val());
                        inittableSearch();
                        $('#modalTitle').text('General Search');
                        $('#modalSearch').modal({ backdrop: 'static', keyboard: false });
                        lihatData();
                    }
                });

                var inittableSearch = function () {
                    $('#tableSearch').DataTable({
                        "ajax": {
                            "url": "/Perjanjian/getDatatablePerjanjian",
                            "type": "GET",
                            "data": function (data) {
                                data.search = $('#txtgeneralFind').val();
                            }
                        },
                        "columns": [
                            {
                                "render": function (data, type, full, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            {
                                "data": "NO_DOKUMEN", "name": "NO_DOKUMEN",
                                "render": function (data, type, full) {
                                    return '<div class="text-left">' +
                                        '<strong>' + full["NO_DOKUMEN"] + '</strong><br/>' +
                                        '<span>' + full["NM_PERJANJIAN"] + '</span>' +
                                        '</div> ';
                                }
                            },
                            {
                                "data": "JUDUL", "name": "JUDUL",
                                "render": function (data, type, full) {
                                    return '<div class="text-left"><span>' + full["JUDUL"] + '</span></div>';
                                }
                            },
                            {
                                "data": "TGL_BERLAKU", "name": "TGL_BERLAKU",
                                "render": function (data, type, full) {
                                    return '<span><strong>Tgl Berlaku: </strong>' + full["TGL_BERLAKU"] + '</span></br>' +
                                        '<span><strong>Tgl Berakhir: </strong>' + full["TGL_BERAKHIR"] + '</span>';
                                }
                            },
                            {
                                "data": "ATTACHMENT", "name": "ATTACHMENT",
                                "render": function (data, type, full) {
                                    return '<i class="' + ((data === '1') ? "icmn-attachment" : "") + '">';
                                }
                            },
                            {
                                "render": function (data, type, full) {
                                    var aksi = '<div class="pull-right">' +
                                        '<div class="btn-group mr-2 mb-2" aria-label="" role="group">' +
                                        '<a class="btn btn-sm btn-link" id="btn-lihatdata"><i class="icmn-search" aria-hidden="true"></i> Lihat Detail</a>' +
                                        '</div>' +
                                        '</div>';
                                    return aksi;
                                }
                            }
                        ],
                        "searching": false,
                        "bLengthChange": true,
                        "lengthMenu": [[3, 5, 10, 25, 100], [3, 5, 10, 25, 100]],
                        "paging": true,
                        "iDisplayLength": 3,
                        "autoWidth": false,
                        "destroy": true,
                        "processing": true,
                        "serverSide": true,
                        //"info": false,
                        "language": {
                            "zeroRecords": "Data tidak ditemukan."
                        },
                        "filter": false,
                        "columnDefs": [
                            { "width": "150", "targets": 1 }
                        ]
                    });

                    var table = $('#tableSearch').DataTable();
                    $('#txtgeneralFind').keypress(function () {
                        if (event.keyCode === 13) {
                            $("#tableSearch_processing").css("visibility", "visible");
                            table.ajax.reload();
                        }
                    });
                }

                var lihatData = function () {
                    $('#tableSearch').on('click', '#btn-lihatdata', function (e) {
                        var xTable = $('#tableSearch').dataTable();
                        var nRow = $(this).parents('tr')[0];
                        var x = xTable.fnGetData(nRow);

                        $('#viewinputNoRec').val(x["REC_ID"]);

                        $('#viewNomorDokumen').text(x["NO_DOKUMEN"] + ' | ' + x["JUDUL"]);
                        $('#viewJnsPerjanjian').text(x["NM_PERJANJIAN"]);
                        $('#viewTglPerjanjian').text(x["TGL_PERJANJIAN"]);
                        $('#viewDeskripsi').text(x["DESKRIPSI"]);
                        $('#viewTglBerlaku').text(x["TGL_BERLAKU"]);
                        $('#viewTglBerakhir').text(x["TGL_BERAKHIR"]);

                        $('#viewcreated_by').text(x["CREATED_BY"]);
                        $('#viewcreated_date').text(x["CREATED_DATE"]);
                        $('#viewupdated_by').text(x["UPDATED_BY"]);
                        $('#viewupdated_date').text(x["UPDATED_DATE"]);

                        $("#tab1").trigger('click');
                        $('#modalLihatData').modal({ backdrop: 'static', keyboard: false });
                        initTablePelanggan();
                        initTableAttachment();
                        initTablePIC();
                        initTableuker();
                        initTableAlur();
                    });
                }

                var initTablePelanggan = function () {
                    $('#viewtablePelanggan').DataTable({
                        "ajax": {
                            "url": "/Perjanjian/getPlg",
                            "type": "GET",
                            "data": function (data) {
                                data.XKODE_PERJANJIAN = $('#viewinputNoRec').val();
                            }
                        },
                        "columns": [
                            {
                                "data": "NAMA_PEL", "name": "NAMA_PEL",
                                "render": function (data, type, full) {
                                    return '<span>' + full["NAMA_PEL"] + '</span>';
                                }
                            }
                        ],
                        "searching": false,
                        "bLengthChange": false,
                        "paging": false,
                        //"iDisplayLength": 20,
                        "autoWidth": false,
                        "destroy": true,
                        "processing": true,
                        "serverSide": true,
                        "info": false,
                        "language": {
                            "zeroRecords": "Pihak Terkait tidak ditemukan."
                        },
                        "filter": false
                    });
                }

                var initTableAttachment = function () {
                    $('#viewtableAttachment').DataTable({
                        "ajax": {
                            "url": "/Perjanjian/getAtt",
                            "type": "GET",
                            "data": function (data) {
                                data.XKODE_PERJANJIAN = $('#viewinputNoRec').val();
                            }
                        },
                        "columns": [
                            {
                                "data": "FILENAME", "name": "FILENAME",
                                "render": function (data, type, full) {
                                    return '<small>' + full["FILENAME"] + '</small>';
                                }
                            },
                            {
                                "render": function (data, type, full) {
                                    var aksi = '<div class="pull-right">' +
                                        '<div class="btn-group mr-2 mb-2" aria-label="" role="group">' +
                                        '<a class="btn btn-sm btn-link" id="btn-download"><i class="icmn-download" aria-hidden="true"></i> Download</a>' +
                                        //'<a href="http://lemonade.pelindo.co.id/FileUpload/' + full["FILENAME"] + '" target="_blank" class="btn btn-sm btn-link" id="btn-download"><i class="icmn-download" aria-hidden="true"></i> Download</a>' +
                                        '</div>' +
                                        '</div>';
                                    return aksi;
                                }
                            }
                        ],
                        "searching": false,
                        "bLengthChange": false,
                        "paging": false,
                        //"iDisplayLength": 20,
                        "autoWidth": false,
                        "destroy": true,
                        "processing": true,
                        "serverSide": true,
                        "info": false,
                        "language": {
                            "zeroRecords": "Belum ada Lampiran."
                        },
                        "filter": false
                    });
                }

                $('#viewtableAttachment').on('click', '#btn-download', function (e) {
                    var xTable = $('#viewtableAttachment').dataTable();
                    var nRow = $(this).parents('tr')[0];
                    var x = xTable.fnGetData(nRow);
                    var sfile = x["FILENAME"];
                    var cek = $.ajax({
                        contentType: "application/json",
                        method: "POST",
                        data: JSON.stringify({ fileName: sfile }),
                        url: "/Perjanjian/CekFiles"
                    });
                    cek.done(function (data) {
                        if (data.STS === 'S') {
                            swal({
                                title: "Download file ?",
                                text: "<strong>" + sfile + "</strong>  </br></br>  <a href='FileUpload/" + sfile + "' target='_blank'><button class='btn btn-success'>DOWNLOAD FILE</button></a>",
                                html: true,
                                type: "warning",
                                showConfirmButton: false
                            });
                        } else {
                            swal({
                                title: data.MSG,
                                text: "Lampiran tidak ditemukan. Mohon hubungi Admin untuk mengunggah ulang lampiran tersebut.",
                                type: "error",
                                confirmButtonText: "Oke !",
                                confirmButtonClass: "btn-secondary"
                            });
                        }
                    });
                });

                var initTablePIC = function () {
                    $('#viewtablePIC').DataTable({
                        "ajax": {
                            "url": "/Perjanjian/getPIC",
                            "type": "GET",
                            "data": function (data) {
                                data.XKODE_PERJANJIAN = $('#viewinputNoRec').val();
                            }
                        },
                        "columns": [
                            {
                                "data": "NAMA_PEG", "name": "NAMA_PEG",
                                "render": function (data, type, full) {
                                    return '<span>' + full["NAMA_PEG"] + '</span>';
                                }
                            }
                        ],
                        "searching": false,
                        "bLengthChange": false,
                        "paging": false,
                        //"iDisplayLength": 20,
                        "autoWidth": false,
                        "destroy": true,
                        "processing": true,
                        "serverSide": true,
                        "info": false,
                        "language": {
                            "zeroRecords": "Belum ada PIC."
                        },
                        "filter": false
                    });
                }

                var initTableuker = function () {
                    $('#viewtableUker').DataTable({
                        "ajax": {
                            "url": "/Perjanjian/getUker",
                            "type": "GET",
                            "data": function (data) {
                                data.XKODE_PERJANJIAN = $('#viewinputNoRec').val();
                            }
                        },
                        "columns": [
                            {
                                "data": "NAMA_UKER", "name": "NAMA_UKER",
                                "render": function (data, type, full) {
                                    return '<span>' + full["NAMA_UKER"] + '</span>';
                                }
                            }
                        ],
                        "searching": false,
                        "bLengthChange": false,
                        "paging": false,
                        //"iDisplayLength": 20,
                        "autoWidth": false,
                        "destroy": true,
                        "processing": true,
                        "serverSide": true,
                        "info": false,
                        "language": {
                            "zeroRecords": "Belum ada Dinas Terkait."
                        },
                        "filter": false
                    });
                }

                var initTableAlur = function () {
                    $('#viewtableAlur').DataTable({
                        "ajax": {
                            "url": "/Perjanjian/getStat",
                            "type": "GET",
                            "data": function (data) {
                                data.XKODE_PERJANJIAN = $('#viewinputNoRec').val();
                            }
                        },
                        "columns": [
                            {
                                "render": function (data, type, full, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            {
                                "data": "NAMA_ALUR", "name": "NAMA_ALUR",
                                "render": function (data, type, full) {
                                    return '<span>' + full["NAMA_ALUR"] + '</span>';
                                }
                            },
                            {
                                "data": "REC_STAT", "name": "REC_STAT",
                                "render": function (data, type, full) {
                                    return '<span class="badge badge-pill badge-' + ((data === '1') ? "success" : "info") + '">' + ((data === '1') ? "Selesai" : "Dalam Proses") + '</span><br/>' +
                                        '<small class="text-muted">Updated: ' + full["CREATED_DATE"] + '</small><div class="pull-right">';
                                }
                            }
                        ],
                        "searching": false,
                        "bLengthChange": false,
                        "paging": false,
                        //"iDisplayLength": 20,
                        "autoWidth": false,
                        "destroy": true,
                        "processing": true,
                        "serverSide": true,
                        "info": false,
                        "language": {
                            "zeroRecords": "Status dokumen tidak ditemukan."
                        },
                        "filter": false
                    });
                }




                $('#btn-confirm').click(function () {
                    var RoleId = $('#RoleList').val();
                    var RoleName = $('#RoleList').text();

                    var p = {
                        xRoleId: RoleId,
                        xRoleName: RoleName
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Auth/UbahRole",
                        data: JSON.stringify(p),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            swal({
                                title: "Ubah Role Berhasil !",
                                type: "success",
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Oke",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.replace("/");
                                    }
                                });
                        }
                    });
                });


                $('#btnSwitch').click(function () {
                    $('#modalRole').modal({ backdrop: 'static', keyboard: false });
                    select2Role();
                });

                var select2Role = function () {
                    $("#RoleList").select2({
                        ajax: {
                            url: "/Auth/getUserRole",
                            dataType: 'json',
                            delay: 250,
                            data: function (params) {
                                return {
                                    p: params.term,
                                    u: $('#UserId').val(),
                                    page: params.page
                                };
                            },
                            processResults: function (data) {
                                return {
                                    results: $.map(data.items, function (item) {
                                        return {
                                            text: item.NAMA,
                                            id: item.KODE,
                                            r_text: item.NAMA
                                        }
                                    })
                                };
                            },
                            cache: true
                        },
                        escapeMarkup: function (markup) { return markup; },
                        minimumInputLength: 0
                        //minimumInputLength: 0 // untuk menampilkan semua
                    });
                }

                $('#btnPassword').click(function () {
                    $('#modalResetPassword').modal({ backdrop: 'static', keyboard: false });
                    $('#displayUserId').val('@claimsIdentity.FindFirst("USERID").Value');
                    btnreset();
                });

                var btnreset = function () {
                    $('#btn-reset').click(function () {
                        resetpass();
                    });
                }

                var resetpass = function () {
                    var xAksi = "P";
                    var Userid = $('#displayUserId').val();
                    var Passwd = $('#inputPasswordBaru').val();
                    var Nama = "";
                    var Status = "";
                    if (Userid && Passwd) {
                        var param = {
                            XAKSI: xAksi,
                            XUSERID: Userid,
                            XPASSWD: Passwd,
                            XNAMA: Nama,
                            XSTATUS: Status
                        };
                        var req = $.ajax({
                            contentType: "application/json",
                            data: JSON.stringify(param),
                            method: "POST",
                            url: "/SettingUser/userIUD",
                            timeout: 30000
                        });
                        req.done(function (data) {
                            if (data.STS === 'E') {
                                console.log(data.MSG);
                                swal({
                                    title: data.MSG,
                                    type: "error",
                                    confirmButtonClass: "btn-danger",
                                    confirmButtonText: "Cancel"
                                });
                            } else {
                                swal({
                                    title: data.MSG,
                                    type: "success",
                                    confirmButtonClass: "btn-success",
                                    confirmButtonText: "Oke"
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            window.location.replace("/Auth/Logout");
                                        }
                                    });
                                console.log(data.MSG);
                            }
                        });
                    } else {
                        swal({
                            title: "Peringatan !",
                            text: "Data harus diisi.",
                            type: "warning",
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "Cancel"
                        });
                    }
                }

                return {
                    init: function () {
                        //lihatData();
                    }
                };

            });
        })(jQuery)
    </script>
</body>
</html>