﻿
@{
    ViewBag.Title = "Error 404";
}

<!-- START: pages/page-404 -->
<div class="text-center">
    <div class="w-50 d-inline-block pt-5 pb-5 mt-5 mb-5">
        <h1 class="mb-4"><strong>Error 404</strong></h1>
        <p class="mb-4">@ViewBag.Message</p>
        <a href="/" class="btn btn-info">Kembali ke Halaman Utama</a>
    </div>
</div>
<!-- END: pages/page-404 -->