﻿
@{
    ViewBag.Title = "Error 500";
}

<div class="text-center">
    <div class="w-50 d-inline-block pt-5 pb-5 mt-5 mb-5">
        <h1 class="mb-4"><strong>Error 500</strong></h1>
        <p class="mb-4">Looks like something went wrong!</p>
        <p class="mb-4">We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
        <a href="/" class="btn btn-info">Kembali ke Halaman Utama</a>
    </div>
</div>