﻿@{
    ViewBag.Title = "Home Page";
}

<div class="utils__content">
    <div class="utils__title utils__title--flat mb-3">
        <strong>Dashboard</strong>
    </div>
    <input id="paramsum" type="text" hidden />
    <div class="row">
        <div class="col-lg-3">
            <a id="sum1" class="card card--withShadow paymentCard">
                <span class="paymentCard__sum"><h1><span id="countKerjasama"></span></h1></span>
                <span class="paymentCard__name">KERJASAMA</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a id="sum2" class="card card--withShadow paymentCard">
                <span class="paymentCard__sum"><h1><span id="countMOU"></span></h1></span>
                <span class="paymentCard__name">MOU</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a id="sum3" class="card card--withShadow paymentCard">
                <span class="paymentCard__sum"><h1><span id="countPemborongan"></span></h1></span>
                <span class="paymentCard__name">PEMBORONGAN</span>
            </a>
        </div>
        <div class="col-lg-3">
            <a id="sum4" class="card card--withShadow paymentCard">
                <span class="paymentCard__sum"><h1><span id="countProperti"></span></h1></span>
                <span class="paymentCard__name">PROPERTI</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div id="divDraft" class="col-md-6">
                    <div class="infoCard infoCard--interactive infoCard--aroundBorder card--withShadow" style="background-color:cornsilk">
                        <div class="infoCard__icon text-center font-size-30">
                            <i class="icmn-file-text2"></i>
                            <h2>Draft</h2>
                        </div>
                        <div class="mt-2 text-center">
                            <span id="badgeDraft" class="badge badge-danger" style="font-size:large" data-container="body" data-toggle="popover-hover" data-placement="bottom" data-content="Klik untuk melihat data."></span>
                        </div>
                    </div>
                </div>
                <div id="divBerlaku" class="col-md-6">
                    <div class="infoCard infoCard--interactive infoCard--aroundBorder card--withShadow" style="background-color:palegreen">
                        <div class="infoCard__icon text-center font-size-30">
                            <i class="icmn-pen"></i>
                            <h2>Active</h2>
                        </div>
                        <div class="mt-2 text-center">
                            <span id="badgeBerlaku" class="badge badge-danger" style="font-size:large" data-container="body" data-toggle="popover-hover" data-placement="bottom" data-content="Klik untuk melihat data."></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="divBerakhir" class="col-md-6">
                    <div class="infoCard infoCard--interactive infoCard--aroundBorder card--withShadow" style="background-color:azure">
                        <div class="infoCard__icon text-center font-size-30">
                            <i class="icmn-file-text"></i>
                            <h2>Expired</h2>
                        </div>
                        <div class="mt-2 text-center">
                            <span id="badgeBerakhir" class="badge badge-danger" style="font-size:large" data-container="body" data-toggle="popover-hover" data-placement="bottom" data-content="Klik untuk melihat data."></span>
                        </div>
                    </div>
                </div>
                <div id="divArsip" class="col-md-6">
                    <div class="infoCard infoCard--interactive infoCard--aroundBorder text-white card--withShadow" style="background-color:darkslategrey">
                        <div class="infoCard__icon text-center font-size-30">
                            <i class="icmn-stack"></i>
                            <h2>Archive</h2>
                        </div>
                        <div class="mt-2 text-center">
                            <span id="badgeArsip" class="badge badge-danger" style="font-size:large" data-container="body" data-toggle="popover-hover" data-placement="bottom" data-content="Klik untuk melihat data."></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-6">
            <div class="card card--fullHeight card--withShadow">
                <div class="card-header">
                    <div class="utils__title utils__title--flat">
                        <span class="badge badge-warning font-weight-bold text-uppercase font-size-14">Expired soon</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <input id="thnbln" type="text" hidden />
                        <table class="table table-sm table-hover" id="tableExpired" width="100%">
                            <thead hidden>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- begin : modal -->
<div class="modal fade modal-size-large" id="modalSearchHome" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full shadow-lg p-3 mb-5 bg-white rounded" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitleHome" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Ketik disini untuk mencari ..." id="txtFindHome" autocomplete="off">
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover" id="tableSearchHome" width="100%">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Nomor / Jenis Perjanjian</th>
                                <th>Judul</th>
                                <th>Berlaku</th>
                                <th>Lampiran</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" onclick="clearsearch()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end : modal -->
<!-- begin : modal lihat data -->
<div class="modal fade modal-size-large" id="modalLihatDataHome" role="dialog" aria-hidden="true">
    <div class="modal-dialog shadow-lg p-3 mb-5 bg-white rounded" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="NomorDokumen" class="modal-title font-weight-bold"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="JudulDokumen" class="modal-title"></h5>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-md-3" for="inputJnsPerjanjian"><strong>Jenis Perjanjian</strong></label>
                            <div class="col-md-9">
                                <p id="JnsPerjanjian"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3" for="TglPerjanjian"><strong>Tanggal Perjanjian</strong></label>
                            <div class="col-md-9">
                                <p id="TglPerjanjian"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3" for="Deskripsi"><strong>Deskripsi</strong></label>
                            <div class="col-md-9">
                                <p id="Deskripsi"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3" for="TglBerlaku"><strong>Tanggal Berlaku</strong></label>
                            <div class="col-md-9">
                                <p id="TglBerlaku"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3" for="TglBerakhir"><strong>Tanggal Berakhir</strong></label>
                            <div class="col-md-9">
                                <p id="TglBerakhir"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="created_by"><strong>Created By</strong></label>
                            <div class="col-md-9">
                                <p><span id="created_by"></span><br /><span id="created_date" class="text-muted"></span></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="updated_by"><strong>Updated By</strong></label>
                            <div class="col-md-9">
                                <p><span id="updated_by"></span><br /><span id="updated_date" class="text-muted"></span></p>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="inputNoRec" autocomplete="off" readonly hidden>
                        <div class="mb-5">
                            <div class="nav-tabs-horizontal">
                                <ul class="nav nav-tabs mb-4" role="tablist">
                                    <li class="nav-item">
                                        <a id="tab1" class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#PihakTerkait" role="tab">Pihak Terkait</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="tab2" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#Lampiran" role="tab">Lampiran</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="tab3" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#PIC" role="tab">PIC</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="tab4" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#Uker" role="tab">Dinas Terkait</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="tab5" class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#StatusDok" role="tab">Status Dokumen</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="PihakTerkait">
                                        <table class="table table-hover table-sm" id="tablePelanggan" width="100%">
                                            <thead hidden>
                                                <tr>
                                                    <th>Pelanggan</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="Lampiran">
                                        <table class="table table-hover table-sm" id="tableAttachment" width="100%">
                                            <thead hidden>
                                                <tr>
                                                    <th>Filename</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="PIC">
                                        <table class="table table-hover table-sm" id="tablePIC" width="100%">
                                            <thead hidden>
                                                <tr>
                                                    <th>PIC</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="Uker">
                                        <table class="table table-hover table-sm" id="tableUker" width="100%">
                                            <thead hidden>
                                                <tr>
                                                    <th>Uker</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="StatusDok">
                                        <table class="table table-hover table-sm" id="tableAlur" width="100%">
                                            <thead hidden>
                                                <tr>
                                                    <th></th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end : modal lihat data -->
@*<script src="~/JS/DashNotifikasi.js"></script>*@
<script src="~/JS/Dashboard.js"></script>