﻿
@{
    ViewBag.Title = "Setting Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <div class="card-header">
        <span class="utils__title">
            <strong>Setting Menu</strong>
        </span>
    </div>
    <div class="card-body">
        <div class="nav-tabs-horizontal mb-5">
            <ul class="nav nav-tabs mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-size-16 text-black" href="javascript: void(0);" data-toggle="tab" data-target="#a1" role="tab"><strong>Detail Menu</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-size-16 text-black" href="javascript: void(0);" data-toggle="tab" data-target="#a2" role="tab"><strong>Role Menu</strong></a>
                </li>
            </ul>
            <div class="tab-content padding-top-20">
                <div class="tab-pane active" id="a1">
                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="inputMenuName">Menu</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputMenuName" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="inputMenuController">Controller</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputMenuController" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="inputMenuAction">Action Menu</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputMenuAction" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="inputMenuIcon">Icon Menu</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputMenuIcon" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="inputMenuStatus">Status</label>
                                    <div class="col-md-9">
                                        <select class="form-control selectpicker" id="inputMenuStatus">
                                            <option value="A">AKTIF</option>
                                            <option value="D">TIDAK AKTIF</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="form-group row">
                                        <div class="col-md-9 offset-md-3">
                                            <button id="btn-simpan" type="button" class="btn btn-primary" style="width:100px"><i class="icmn-floppy-disk" aria-hidden="true"></i> Simpan</button>
                                            <button id="btn-batal" type="button" class="btn btn-danger" style="width:100px"><i class="fa fa-eraser" aria-hidden="true"></i> Batal</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <button id="btnLihatData" type="button" class="btn btn-primary">
                                <i class="icmn-search" aria-hidden="true"></i>
                                Lihat Data
                            </button>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="tab-pane" id="a2">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group row">
                                @*<label class="col-md-3 col-form-label" for="tableRole">Role</label>*@
                                <div class="col-md-9">
                                    <table class="table table-hover table-sm nowrap" id="tableRole" width="100%">
                                        <thead hidden>
                                            <tr>
                                                <th>Role</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div class="row">
                                        <div id="divPIC" class="col-md-8">
                                            <input type="text" class="form-control" id="inputRoleName" autocomplete="off">
                                        </div>
                                        <div class="col-md-4">
                                            <button id="btn-simpan" type="button" class="btn btn-outline-secondary btn-sm" style="width:100%">
                                                <i class="icmn-floppy-disk" aria-hidden="true"></i>
                                                <span>Simpan</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <label id="listmenu"></label>
                            <div id="divRole">

                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>

<div class="modal fade modal-size-large" id="modalMenu" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="card">
                    <div class="card-header">
                        <span class="utils__title">
                            <strong>Tabel Menu</strong>
                        </span>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" placeholder="Ketik disini untuk mencari ..." id="txtFind" autocomplete="off">
                        <table class="table table-hover table-sm nowrap" id="tableMenu" width="100%">
                            <thead class="thead-default">
                                <tr>
                                    <th>Order By</th>
                                    <th>ID</th>
                                    <th>Menu</th>
                                    <th>Controller</th>
                                    <th>Menu Action</th>
                                    <th>Icon</th>
                                    <th>Parent Id</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script src="~/JS/SettingMenu.js"></script>