﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lemonade - Legal Monitoring and Documentation</title>
    <link href="../../components/dummy-assets/common/img/favicon.png" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">

    <!-- VENDORS -->
    <!-- v2.0.0 -->
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/bootstrap-sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/summernote/dist/summernote.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/ionrangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/datatables/media/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/c3/c3.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/chartist/dist/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/nprogress/nprogress.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/jquery-steps/demo/css/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/dropify/dist/css/dropify.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/font-linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/font-icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/cleanhtmlaudioplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/cleanhtmlvideoplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/cleanhtmlvideoplayer/src/player.css">
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../../vendors/popper.js/dist/umd/popper.js"></script>
    <script src="../../vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="../../vendors/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../../vendors/spin.js/spin.js"></script>
    <script src="../../vendors/ladda/dist/ladda.min.js"></script>
    <script src="../../vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="../../vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="../../vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="../../vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <script src="../../vendors/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="../../vendors/autosize/dist/autosize.min.js"></script>
    <script src="../../vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script>
    <script src="../../vendors/moment/min/moment.min.js"></script>
    <script src="../../vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="../../vendors/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="../../vendors/summernote/dist/summernote.min.js"></script>
    <script src="../../vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../../vendors/ionrangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="../../vendors/nestable/jquery.nestable.js"></script>
    <script src="../../vendors/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../../vendors/datatables/media/js/dataTables.bootstrap4.js"></script>
    <script src="../../vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
    <script src="../../vendors/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="../../vendors/editable-table/mindmup-editabletable.js"></script>
    <script src="../../vendors/d3/d3.min.js"></script>
    <script src="../../vendors/c3/c3.min.js"></script>
    <script src="../../vendors/chartist/dist/chartist.min.js"></script>
    <script src="../../vendors/peity/jquery.peity.min.js"></script>
    <script src="../../vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../../vendors/jquery-countTo/jquery.countTo.js"></script>
    <script src="../../vendors/nprogress/nprogress.js"></script>
    <script src="../../vendors/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="../../vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="../../vendors/dropify/dist/js/dropify.min.js"></script>
    <script src="../../vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js"></script>
    <script src="../../vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js"></script>
    <script src="../../vendors/d3-dsv/dist/d3-dsv.js"></script>
    <script src="../../vendors/d3-time-format/dist/d3-time-format.js"></script>
    <script src="../../vendors/techan/dist/techan.min.js"></script>

    <!-- CLEAN UI HTML ADMIN TEMPLATE MODULES-->
    <!-- v2.0.0 -->
    <link rel="stylesheet" type="text/css" href="../../components/core/common/core.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/core/widgets/widgets.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/vendors/common/vendors.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/settings/common/settings.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/settings/themes/themes.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/menu-left/common/menu-left.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/menu-right/common/menu-right.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/top-bar/common/top-bar.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/footer/common/footer.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/pages/common/pages.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/ecommerce/common/ecommerce.cleanui.css">
    <link rel="stylesheet" type="text/css" href="../../components/apps/common/apps.cleanui.css">
    <script src="../../components/menu-left/common/menu-left.cleanui.js"></script>
    <script src="../../components/menu-right/common/menu-right.cleanui.js"></script>
</head>
<body style="background-image: url(../../components/pages/common/img/login/1.jpg); background-size:cover">
    <div class="login__block login__block--extended">
        <div class="row">
            <div class="col-xl-12">
                <div class="login__block__inner">
                    <div id="divLogin" class="login__block__form">
                        <h4 class="text-uppercase">
                            <strong>Please log in</strong>
                        </h4>
                        <br />
                        <form id="form-validation">
                            <div class="form-group">
                                <label class="form-label">Userid</label>
                                <input id="validation-userid"
                                       class="form-control"
                                       placeholder="NIPP"
                                       type="text"
                                       required
                                       autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input id="validation-password"
                                       class="form-control password"
                                       type="password"
                                       placeholder="Password"
                                       required>
                            </div>
                            <div class="form-actions">
                                <button id="btn-login" type="button" class="btn btn-primary mr-3">Sign In</button>
                                @*<a href="javascript: void(0);" class="pull-right utils__link--blue utils__link--underlined">Forgot Password?</a>*@
                                <span id="loading" class="icmn-spinner9 utils__spin-delayed--pseudo-selector"></span>
                            </div>
                        </form>
                    </div>
                    <div id="divMaintenance" class="login__block__form">
                        <h4 class="text-capitalize">
                            <strong>Maaf,</strong> <br />Aplikasi sedang dalam perbaikan.
                        </h4>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="login__block__sidebar">
                        <h2 class="login__block__sidebar__title">
                            <strong>L E M O N A D E</strong>
                        </h2>
                        <span class="text-muted">Legal Monitoring and Documentation</span>
                        <div class="login__block__sidebar__place">
                            <small class="text-muted">© 2019 All rights reserved</small>
                            <br />
                            <small class="text-muted">PT PELINDO III</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-size-small" id="modalRole" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <strong>Daftar Perjanjian</strong>
                            </span>
                        </div>
                        <div class="card-body">
                            <select id="inputRole" class="form-control full-width"></select>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    <script>
        (function ($) {
            "use strict";
            $(function () {
                // Perbaikan
                //$('#divLogin').hide();
                //$('#divMaintenance').show();

                // Login form
                $('#divLogin').show();
                $('#divMaintenance').hide();


                $('#loading').hide();

                $('#validation-userid').focus();

                $('#validation-userid').keypress(function () {
                    var x = $('#validation-userid').val();
                    if (event.keyCode == 13 && x != "") {
                        $('#validation-password').focus();
                    }
                });


                $('#validation-password').keypress(function () {
                    if (event.keyCode === 13) {
                        $('#loading').show();
                        login();
                    }
                });

                $('#btn-login').click(function () {
                    $('#loading').show();
                    login();
                });

                var login = function () {
                    var Userid = $('#validation-userid').val();
                    var Passwd = $('#validation-password').val();
                    if (Userid && Passwd) {
                        var p = {
                            USERID: Userid,
                            PASSWD: Passwd
                        };
                        var req = $.ajax({
                            contentType: "application/json",
                            data: JSON.stringify(p),
                            method: "POST",
                            url: "/Auth/AuthLogin",
                            timeout: 30000
                        });
                        req.done(function (data) {
                            if (data.STS === 'E') {
                                swal({
                                    title: data.MSG,
                                    //text: data.MSG,
                                    type: "error",
                                    confirmButtonClass: "btn-danger",
                                    confirmButtonText: "Cancel",
                                    closeOnConfirm: true
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            $('#loading').hide();
                                        }
                                    });
                            }
                            else {
                                window.location.href = data.MSG;
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Error !",
                            text: "Masukkan userid dan password Anda terlebih dahulu.",
                            type: "error",
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "Cancel"
                        });
                    }
                }

                // Form Validation
                $('#form-validation').validate({
                    submit: {
                        settings: {
                            inputContainer: '.form-group',
                            errorListClass: 'form-control-error',
                            errorClass: 'has-danger'
                        }
                    }
                });

                // Show/Hide Password
                $('.password').password({
                    eyeClass: '',
                    eyeOpenClass: 'icmn-eye',
                    eyeCloseClass: 'icmn-eye-blocked'
                });

            });
        })(jQuery)
    </script>

</body>
</html>