﻿
@{
    ViewBag.Title = "Master Pegawai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

<section class="card">
    <div class="card-header">
        <button id="btn-lihatdata" type="button" class="pull-right btn btn-primary"><i class="icmn-search" aria-hidden="true"></i> Lihat Data</button>

        <span class="utils__title">
            <strong>@ViewBag.Title</strong>
        </span>
    </div>
    <div class="card-body">
        <!-- begin : card-body -->
        <div class="row">
            <!-- begin : row -->
            <div class="col-md-6">
                <form>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputNIPP">NIPP</label>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="inputNIPP" autocomplete="off" readonly>
                                        <input type="text" class="form-control" id="sAksi" hidden>
                                    </div>
                                    <div class="col-md-3">
                                        <button id="btn-cari" type="button" class="btn btn-sm btn-secondary"><i class="icmn-search" aria-hidden="true"></i> Cari Pegawai</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputNama">Nama</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputNama" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputStatus">Status</label>
                            <div class="col-md-9">
                                <select class="form-control selectpicker" id="inputStatus">
                                    <option value="A">AKTIF</option>
                                    <option value="D">TIDAK AKTIF</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button id="btn-simpan" type="button" class="btn btn-success" style="width:120px"><i class="icmn-floppy-disk" aria-hidden="true"></i> Simpan</button>
                                <button id="btn-bersihkan" type="button" class="btn btn-danger" style="width:120px"><i class="fa fa-eraser" aria-hidden="true"></i> Bersihkan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end : row -->
        </div>
        <!-- end : card-body -->
    </div>
</section>
<!-- begin : modal -->
<div class="modal fade modal-size-large" id="modalData" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover" id="tablePegawai" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NIPP</th>
                            <th>Nama</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-size-large" id="modalCariPegawai" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pilih Pegawai</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover" id="tableCariPegawai" width="100%">
                    <thead>
                        <tr>
                            @*<th>#</th>*@
                            <th>NIPP</th>
                            <th>Nama</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end : modal -->
<script src="~/JS/MasterPegawai.js"></script>