﻿
@{
    ViewBag.Title = "Dokumen Perjanjian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="perjanjian" class="card">
    <div class="card-header">
        <button id="btnLihatData" type="button" class="pull-right btn btn-primary">
            <i class="icmn-search" aria-hidden="true"></i>
            Lihat Data
        </button>
        <span class="utils__title">
            <strong>TAMBAH @ViewBag.Title</strong>
        </span>
    </div>
    <div class="card-body">
        <form id="formInput">
            <input id="stAksi" type="hidden" />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputNoRec">ID</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputNoRec" autocomplete="off" readonly>
                        </div>
                        <div class="col-md-3">
                            <button id="btnArsip" type="button" class="btn btn-secondary btn-sm" style="width:100%">
                                <i class="icmn-folder-open" aria-hidden="true"></i>
                                <span>PINDAHKAN KE ARSIP</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputJnsPerjanjian">Jenis Perjanjian</label>
                        <div class="col-md-9">
                            <select id="inputJnsPerjanjian" class="form-control full-width"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputNomorDok">Nomor / Tanggal Perjanjian</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputNomorDok" autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="inputTglPerjanjian" autocomplete="off" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputTglBerlaku">Tanggal Berlaku</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="inputTglBerlaku" autocomplete="off" placeholder="dd/mm/yyyy">
                        </div>
                        <label class="col-md-3 col-form-label" for="inputTglBerakhir">Tanggal Berakhir</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="inputTglBerakhir" autocomplete="off" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputJudul">Judul</label>
                        <div class="col-md-9">
                            <textarea id="inputJudul" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputDeskripsi">Deskripsi</label>
                        <div class="col-md-9">
                            <textarea id="inputDeskripsi" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputPelanggan">
                            Pihak Terkait
                            <br />
                            <span class="text-muted">(Vendor/Pengguna Jasa)</span>
                        </label>
                        <div class="col-md-9">
                            <table class="table table-hover table-sm" id="tablePelanggan" width="100%">
                                <thead hidden>
                                    <tr>
                                        <th>Pelanggan</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div id="divPlg" class="col-md-8">
                                    <select id="inputPelanggan" class="form-control full-width"></select>
                                </div>
                                <div class="col-md-4">
                                    <button id="btnTambahPelanggan" type="button" class="btn btn-outline-secondary btn-sm" style="width:100%">
                                        <i class="icmn-plus" aria-hidden="true"></i>
                                        <span>Pihak Terkait</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="tablePIC">PIC</label>
                        <div class="col-md-9">
                            <table class="table table-hover table-sm" id="tablePIC" width="100%">
                                <thead hidden>
                                    <tr>
                                        <th>PIC</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div id="divPIC" class="col-md-8">
                                    <select id="inputPIC" class="form-control full-width"></select>
                                </div>
                                <div class="col-md-4">
                                    <button id="btnTambahPIC" type="button" class="btn btn-outline-secondary btn-sm" style="width:100%">
                                        <i class="icmn-plus" aria-hidden="true"></i>
                                        <span>PIC</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="tableUker">Dinas Terkait</label>
                        <div class="col-md-9">
                            <table class="table table-hover table-sm" id="tableUker" width="100%">
                                <thead hidden>
                                    <tr>
                                        <th>Unit Kerja</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div id="divUker" class="col-md-8">
                                    <select id="inputUker" class="form-control full-width"></select>
                                </div>
                                <div class="col-md-4">
                                    <button id="btnTambahUker" type="button" class="btn btn-outline-secondary btn-sm" style="width:100%">
                                        <i class="icmn-plus" aria-hidden="true"></i>
                                        <span>Dinas Terkait</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="tableAttachment">Lampiran</label>
                        <div class="col-md-9">
                            <button id="btn_att" type="button" class="btn btn-sm btn-outline-secondary" style="width:150px">
                                <i class="icmn-plus" aria-hidden="true"></i>
                                Tambah Lampiran
                            </button>
                            <button id="btnRefresh" type="button" class="btn btn-sm btn-outline-secondary" style="width:150px">
                                <i class="icmn-spinner11" aria-hidden="true"></i>
                                Refresh List
                            </button>
                            
                            <br />
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-hover table-sm" id="tableAttachment" width="100%">
                                    <thead hidden>
                                        <tr>
                                            @*<th>#</th>*@
                                            <th>Filename</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputAlur">Status Dokumen</label>
                        <div class="col-md-9">
                            <table class="table table-hover table-sm" id="tableAlur" width="100%">
                                <thead hidden>
                                    <tr>
                                        <th></th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div id="divAlur" class="col-md-8">
                                    <select id="inputAlur" class="form-control full-width"></select>
                                </div>
                                <div class="col-md-4">
                                    <button id="btnTambahAlur" type="button" class="btn btn-sm btn-outline-secondary" style="width:100%">
                                        <i class="icmn-plus" aria-hidden="true"></i>
                                        Status Dokumen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="created_by">Created By</label>
                        <div class="col-md-9">
                            <p><span id="created_by"></span><br /><span id="created_date" class="text-muted"></span></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="updated_by">Updated By</label>
                        <div class="col-md-9">
                            <p><span id="updated_by"></span><br /><span id="updated_date" class="text-muted"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button id="btn-simpan" type="button" class="btn btn-primary" style="width:100px"><i class="icmn-floppy-disk" aria-hidden="true"></i> Simpan</button>
                        <button id="btn-bersihkan" type="button" class="btn btn-danger" style="width:100px"><i class="fa fa-eraser" aria-hidden="true"></i> Bersihkan</button>
                    </div>
                </div>
            </div>
        </form>

    </div>


</section>

<div class="modal fade modal-size-large" id="modalData" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Daftar Perjanjian</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Ketik disini untuk mencari ..." id="txtFind" autocomplete="off">
                <hr />
                <table class="table table-hover" id="tablePerjanjian" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nomor</th>
                            <th>Judul</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<section id="maintenance" class="card">
    <div class="card-header">
        <h2>
            <strong>Oops...</strong>
        </h2>
    </div>
    <div class="card-body">
        <h4>
            Halaman ini sedang dalam perbaikan.
        </h4>
    </div>
</section>


<script>
    (function ($) {
        "use strict";
        $(function () {

            $('#maintenance').hide();
            //$('#maintenance').show();
            //$('#perjanjian').hide();

            var data1 = [
                {
                    "id": "1",
                    "name": "name_1",
                    "parent_id": "0",
                    "depth": "0",
                    "index": 0
                },
                {
                    "id": "2",
                    "name": "name_2",
                    "parent_id": "0",
                    "depth": "0",
                    "index": 1
                },
                {
                    "id": "3",
                    "name": "name_3",
                    "parent_id": "0",
                    "depth": "0",
                    "index": 2
                },
                {
                    "id": "4",
                    "name": "name_4",
                    "parent_id": "0",
                    "depth": "0",
                    "index": 3
                }
            ];

            var data = [
                {
                    "id": "1",
                    "name": "name_1",
                    "parent_id": "0"
                },
                {
                    "id": "2",
                    "name": "name_2",
                    "parent_id": "0"
                },
                {
                    "id": "3",
                    "name": "name_3",
                    "parent_id": "0"
                },
                {
                    "id": "4",
                    "name": "name_4",
                    "parent_id": "1"
                }
            ];

            var endMenu = getMenu("0");

            function getMenu(parentID) {

                return data.filter(function (node) { return (node.parent_id === parentID); }).sort(function (a, b) { return a.index > b.index }).map(function (node) {
                    var exists = data.some(function (childNode) { return childNode.parent_id === node.id; });
                    var subMenu = (exists) ? '<ul>' + getMenu(node.id).join('') + '</ul>' : "";
                    return '<li>' + node.name + subMenu + '</li>';
                });
            }
            //$('#divPelanggan').html('<ul>' + endMenu.join('') + '</ul>');



            //$('#btnRefreshPelanggan').click(function () {
            //    var idPlg = $('#idPlg').val();
            //    var Pelanggan = getMenu(idPlg);
            //    $('#divPelanggan').html('<ul>' + Pelanggan.join('') + '</ul>');
            //});


            //$('.dropify').dropify();



            $('#btnPelanggan').click(function () {
                $('#modalPelanggan').modal({ backdrop: 'static', keyboard: false });
            });


            //$('#tablePerjanjian').DataTable({
            //    "searching": false,
            //    "lengthChange": false,
            //    "destroy": true
            //});

            $('.select2').select2();

            //$('#inputJnsPerjanjian').select2({
            //    allowClear: true,
            //    placeholder: 'Pilih jenis perjanjian'
            //});



            $("#inputJnsPerjanjian").select2({
                placeholder: 'Pilih jenis perjanjian',
                ajax: {
                    url: "/Perjanjian/getJnsPerjanjian",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            p: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.NAMA,// + ' (' + item.KODE + ')',
                                    id: item.KODE,
                                    r_text: item.NAMA
                                }
                            })
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 0
                //minimumInputLength: 0 // untuk menampilkan semua
            });

            $("[data-toggle=tooltip]").tooltip();

            $('#inputTglPerjanjian').datetimepicker({
                widgetPositioning: {
                    horizontal: 'left'
                },
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: 'DD/MM/YYYY'
            });

            $('#inputTglBerlaku').datetimepicker({
                widgetPositioning: {
                    horizontal: 'left'
                },
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: 'DD/MM/YYYY'
            });

            $('#inputTglBerakhir').datetimepicker({
                widgetPositioning: {
                    horizontal: 'left'
                },
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: 'DD/MM/YYYY',
                useCurrent: false //Important! See issue #1075
            });
            $("#inputTglBerlaku").on("dp.change", function (e) {
                $('#inputTglBerakhir').data("DateTimePicker").minDate(e.date);
            });
            $("#inputTglBerakhir").on("dp.change", function (e) {
                $('#inputTglBerlaku').data("DateTimePicker").maxDate(e.date);
            });

        });
    })(jQuery)
</script>
<script src="~/JS/form/Perjanjian.js"></script>