﻿
@{
    ViewBag.Title = "Master Pelanggan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <div class="card-header">
        <button id="btn-lihatdata" type="button" class="pull-right btn btn-primary" ><i class="icmn-search" aria-hidden="true"></i> Lihat Data</button>

        <span class="utils__title">
            <strong>@ViewBag.Title</strong>
        </span>
    </div>
    <div class="card-body">
        <!-- begin : card-body -->
        <div class="row">
            <!-- begin : row -->
            <div class="col-md-6">
                <form>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputKodePlg">Kode Pelanggan</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputKodePlg" autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputNamaPlg">Nama Pelanggan</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputNamaPlg" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputAlamatPlg">Alamat</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputAlamatPlg" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputKota">Kota</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputKota" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputTlp1">Telepon 1</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputTlp1" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputTlp2">Telepon 2</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputTlp2" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputEmail">Email</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" id="inputEmail" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inputStatus">Status</label>
                            <div class="col-md-9">
                                <select class="form-control selectpicker" id="inputStatus">
                                    <option value="A">AKTIF</option>
                                    <option value="D">TIDAK AKTIF</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button id="btn-simpan" type="button" class="btn btn-success" ><i class="icmn-floppy-disk" aria-hidden="true"></i> Simpan</button>
                                <button id="btn-bersihkan" type="button" class="btn btn-danger" ><i class="fa fa-eraser" aria-hidden="true"></i> Bersihkan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end : row -->
        </div>
        <!-- end : card-body -->
    </div>
</section>
<!-- begin : modal -->
<div class="modal fade modal-size-large" id="modalData" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover" id="tablePelanggan" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama Pelanggan</th>
                            <th>Alamat</th>
                            <th>Informasi</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end : modal -->
<script src="~/JS/MasterPelanggan.js"></script>