﻿
@{
    ViewBag.Title = "Alur Dokumen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <div class="card-header">
        @*<button id="btnLihatData" type="button" class="pull-right btn btn-primary">
            <i class="icmn-search" aria-hidden="true"></i>
            Lihat Data
        </button>*@
        <span class="utils__title">
            <strong>TAMBAH @ViewBag.Title</strong>
        </span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group row">
                    @*<label class="col-md-3 col-form-label" for="tableRole">Role</label>*@
                    <div class="col-md-12">
                        <div class="row">
                            <input id="inputRecId" hidden />
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputAlur" autocomplete="off" placeholder="Masukkan deskripsi alur dokumen">
                            </div>
                            <div class="col-md-2">
                                <button id="btn-simpan" type="button" class="btn btn-outline-success btn-sm" style="width:100%">
                                    <i class="icmn-floppy-disk" aria-hidden="true"></i>
                                    Simpan
                                </button>
                                <button id="btn-update" type="button" class="btn btn-outline-secondary btn-sm" style="width:100%">
                                    <i class="icmn-floppy-disk" aria-hidden="true"></i>
                                    Update
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button id="btn-batal" type="button" class="btn btn-outline-danger btn-sm" style="width:100%">
                                    <i class="icmn-cross" aria-hidden="true"></i>
                                    Batal
                                </button>
                            </div>
                        </div>
                        <br />
                        <table class="table table-hover table-sm nowrap" id="tableAlurDokumen" width="100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Alur Dokumen</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/JS/AlurDokumen.js"></script>