﻿
@{
    ViewBag.Title = "Setting User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <div class="card-header">
        <button id="btnLihatData" type="button" class="pull-right btn btn-primary">
            <i class="icmn-search" aria-hidden="true"></i>
            Lihat Data
        </button>
        <span class="utils__title">
            <strong>Setting User</strong>
        </span>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputUserId">User ID</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="inputId" hidden>
                            <input type="text" class="form-control" id="inputUserId" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputPassword">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="inputPassword" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputNama">Nama</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="inputNama" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputMenuStatus">Status</label>
                        <div class="col-md-9">
                            <select class="form-control selectpicker" id="inputMenuStatus">
                                <option value="A">AKTIF</option>
                                <option value="D">TIDAK AKTIF</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inputRole">Role</label>
                        <div class="col-md-9">
                            <table class="table table-hover table-sm nowrap" id="tableRoleUser" width="100%">
                                <thead hidden>
                                    <tr>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <table class="table table-hover table-sm nowrap" id="tableRoleMaster" width="100%">
                                <thead hidden>
                                    <tr>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="form-actions">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button id="btn-simpan" type="button" class="btn btn-success" style="width:100px"><i class="icmn-floppy-disk" aria-hidden="true"></i> Simpan</button>
                        <button id="btn-update" type="button" class="btn btn-secondary" style="width:100px"><i class="icmn-floppy-disk" aria-hidden="true"></i> Update</button>
                        <button id="btn-batal" type="button" class="btn btn-danger" style="width:100px"><i class="fa fa-close" aria-hidden="true"></i> Batal</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>

<div class="modal fade modal-size-large" id="modalData" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="card">
                    <div class="card-header">
                        <span class="utils__title">
                            <strong>Tabel User</strong>
                        </span>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" placeholder="Ketik disini untuk mencari ..." id="txtFind" autocomplete="off">
                        <table class="table table-hover nowrap" id="tableUser" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User ID</th>
                                    <th>Nama</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalResetPassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog shadow-lg p-3 mb-5 bg-white rounded" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="card">
                    <div class="card-header">
                        <span class="utils__title">
                            <strong>Reset Password</strong>
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="displayUserId">User ID</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="displayUserId" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="inputPasswordBaru">Password Baru</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" id="inputPasswordBaru" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button id="btn-reset" type="button" class="btn btn-success btn-sm" data-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i> Reset</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    (function ($) {
        "use strict";
        $(function () {

            $('#inputPassword').password({
                eyeClass: '',
                eyeOpenClass: 'icmn-eye',
                eyeCloseClass: 'icmn-eye-blocked'
            });

            $('#inputPasswordBaru').password({
                eyeClass: '',
                eyeOpenClass: 'icmn-eye',
                eyeCloseClass: 'icmn-eye-blocked'
            });

        });
    })(jQuery)
</script>

<script src="~/JS/SettingUser.js"></script>